<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录/注册</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='logon.css') }}">
</head>
<body>
    <div class="logon-container">
        
        <form action="/login" method="POST">
            <h3>登录/注册</h3>
            <label for="phonenum">手机号</label>
            <br>
            <input type="text" id="phonenum" name="phone" placeholder="输入你的手机号码">
            <br>
            <label for="checknum" name="checknum">验证码</label>
            <br>
            <input type="text" id="checknum" placeholder="输入验证码">
            <br>
            <button type="submit">登录/注册</button>
        </form>

    </div>
    
</body>
</html>