<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='todo.css') }}">
</head>
<body>
    <div class="container">
        <div id="input-container" class="input-container">
            <h4>待做事项</h4>
            <form action="/todo" method="POST">
                <input type="text" name="username">
                <textarea name="todo" id="textarea" cols="30" rows="10" placeholder="一些需要完成的事情"></textarea><br>
                <button type="submit" id="submit">添加</button>
            </form>
            <a href="/">返回主页</a>
        </div>
        <div id="output-container" class="output-container">
            <h4>曾经做出的承诺</h4>
            <ul>
                {% for todo in todos %}
                    <li>{{ todo }}</li><br>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>